In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import xgboost as xgb
import datetime

In [53]:
filename = '../inputs/Maltas.csv'
df = pd.read_csv(filename)
df =df[df['Quantity'] > 0]

new_matrix_test = df.drop_duplicates(['Account_id',	'Product_id', 'Category'])

In [64]:
new_matrix_test['Date'] = (pd.to_datetime(df.Date.max()) + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

C:\Users\willy\AppData\Local\Temp\ipykernel_9292\1776642010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_matrix_test['Date'] = (pd.to_datetime(df.Date.max()) + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

In [69]:
new_matrix_test.head()

         Date  Account_id  Product_id Category  Quantity
0  2022-07-31    33237477       15354   Maltas         5
1  2022-07-31    33236337       15354   Maltas         2
2  2022-07-31    38169687       11910   Maltas        11
3  2022-07-31    38169687       15354   Maltas         1
4  2022-07-31    38169666        8270   Maltas        20

In [73]:
new_matrix_test = new_matrix_test.drop(columns='Quantity')

In [4]:
train, test = train_test_split(df, test_size=0.30)
train = train.sort_values('Date')
test = test.sort_values('Date')

In [5]:
train.shape

(14117331, 5)

In [6]:
test.shape

(6050285, 5)

In [7]:
def date_features(df: pd.DataFrame) -> pd.DataFrame:
    """Import the DataFrame to be able to extract the data characteristics and transform

    Arguments:
        df: data frame

    Return:
        Return a DataFrame with its date characteristics
    """

    df['date'] = pd.to_datetime(df['Date'])
    df['year'] = df.date.dt.year
    df['month'] = df.date.dt.month
    df['day'] = df.date.dt.day
    df['dayofyear'] = df.date.dt.dayofyear
    df['dayofweek'] = df.date.dt.dayofweek
    df['weekofyear'] = df.date.dt.isocalendar().week
    
    # Additionnal Data Features
    df['day^year'] = np.log((np.log(df['dayofyear'] + 1)) ** (df['year'] - 2000))
    
    # Drop date
    df.drop('Date', axis=1, inplace=True)
    
    return df

# Dates Features for Train, Test
train = date_features(train)
test = date_features(test)

In [74]:
new_matrix_test = date_features(new_matrix_test)

In [8]:
train.head()

,Account_id,Product_id,Category,Quantity,date,year,month,day,dayofyear,dayofweek,weekofyear,day^year
24973,34254285,8260,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954
26024,34259529,15354,Maltas,20,2022-01-03,2022,1,3,3,0,1,7.185954
26326,33226350,8270,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954
12407,33253035,15354,Maltas,50,2022-01-03,2022,1,3,3,0,1,7.185954
19083,33251433,11910,Maltas,4,2022-01-03,2022,1,3,3,0,1,7.185954

In [9]:
test.head()

,Account_id,Product_id,Category,Quantity,date,year,month,day,dayofyear,dayofweek,weekofyear,day^year
22716,33221916,15354,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954
7691,33224859,11910,Maltas,3,2022-01-03,2022,1,3,3,0,1,7.185954
11286,36839568,11910,Maltas,4,2022-01-03,2022,1,3,3,0,1,7.185954
25101,33231072,8262,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954
30034,33238242,8262,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954

In [10]:
# Daily Average, Monthly Average for train
train['daymonth_avg']  = train.groupby(['Product_id','Account_id', 'dayofweek'])['Quantity'].transform('mean')
train['monthly_avg'] = train.groupby(['Product_id','Account_id','month'])['Quantity'].transform('mean')
train = train.dropna()

# Average sales for Day_of_week = d per 'Category', 'Account_id'
daymonth_avg = train.groupby(['Product_id','Account_id','dayofweek'])['Quantity'].mean().reset_index()

# Average sales for Month = m per 'Category','Account_id' 
monthly_avg = train.groupby(['Product_id','Account_id','month'])['Quantity'].mean().reset_index()



# Merge Test with Daily Avg, Monthly Avg
def merge(df1: pd.DataFrame, df2: pd.DataFrame, col: list, col_name: str) -> pd.DataFrame:
    """This is function to do merge whit DataFrames and strings what representation a new DataFrame

    Args: 
        df1: pd.DataFrame is a df of test
        df2: pd.DataFrame is a df of average sales for day of week or month
        col: list with features of test
        col_name: str with name of column per feature of week or month 
    Return: 
          The return value is a pd.DataFrame with features news
    """
    
    df1 =pd.merge(df1, 
                  df2, 
                  how='left', 
                  on=None, 
                  left_on=col, 
                  right_on=col,
                  left_index=False, 
                  right_index=False, 
                  sort=True,
                  copy=True, 
                  indicator=False)
    
    df1 = df1.rename(columns={'sales':col_name})
    return df1

In [11]:
# Add Daily_avg and Monthly_avg features to test 
test = merge(test, daymonth_avg, ['Product_id','Account_id','dayofweek'],'daymonth_avg')
test = merge(test, monthly_avg, ['Product_id','Account_id','month'],'monthly_avg')

In [12]:
# Sales Rolling mean sequence per item 

rolling_10 = train.groupby(['Product_id'])['Quantity'].rolling(3).mean().reset_index().drop('level_1', axis=1)
train['rolling_mean'] = rolling_10['Quantity']

In [13]:

rolling_10.head()

   Product_id  Quantity
0        8260       NaN
1        8260       NaN
2        8260  1.333333
3        8260  6.000000
4        8260  7.333333

In [14]:
# 90 last days of training rolling mean sequence added to test data
rolling_last90 = train.groupby(['Product_id','Quantity'])['rolling_mean'].tail(90).copy()
test['rolling_mean'] = rolling_last90.reset_index().drop('index', axis=1)

In [15]:
rolling_last90.head()

13467    1.666667
33546    2.000000
26972    7.333333
33164    2.000000
34061    7.666667
Name: rolling_mean, dtype: float64

In [16]:

# Shifting rolling mean 3 months
train['rolling_mean'] = train.groupby(['Product_id'])['rolling_mean'].shift(90) # Create a feature with rolling mean of day - 90

In [17]:
test.head()

,Account_id,Product_id,Category,Quantity_x,date,year,month,day,dayofyear,dayofweek,weekofyear,day^year,Quantity_y,Quantity,rolling_mean
0,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,1.666667
1,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,2.000000
2,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,7.333333
3,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,2.000000
4,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,7.666667

In [18]:
test = test.fillna(0)
test.head()

,Account_id,Product_id,Category,Quantity_x,date,year,month,day,dayofyear,dayofweek,weekofyear,day^year,Quantity_y,Quantity,rolling_mean
0,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,1.666667
1,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,2.000000
2,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,7.333333
3,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,2.000000
4,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,21.123552,18.240223,7.666667

In [19]:
# Clean features highly correlated to each others
for df in [train, test]:
    df.drop(['dayofyear', 
             'weekofyear',
             'day',
             'month',
             'Category',
             'Account_id'],
                axis=1, 
                inplace=True)

In [20]:
# Features Scaling (except sales)
sales_series, id_series = train['Quantity'], test['Product_id']

In [23]:
# Retrieve actual Sales values and ID
train['Quantity'] = sales_series
test['Product_id'] = id_series

In [24]:
# Training Data
X_train = train.drop('Quantity', axis=1).dropna()
y_train = train['Quantity']

In [25]:
# Test Data
test.sort_values(by=['Product_id'], inplace=True)
X_test = test.drop('Product_id', axis=1)

In [36]:
#df = train
df_train = train.copy()

In [37]:
df_train = df_train.drop(columns='date').fillna(0)

In [38]:
# Train Test Split
X_train , X_test ,y_train, y_test = train_test_split(df_train.drop('Quantity',axis=1),df_train.pop('Quantity'), random_state=123, test_size=0.2)

In [46]:
X_test

,Product_id,year,dayofweek,day^year,daymonth_avg,monthly_avg,rolling_mean
1470026,11910,2022,4,21.917036,2.802469,5.000000,8.666667
19134057,8270,2022,2,36.577186,3.039013,2.535211,0.000000
2405376,11910,2022,5,25.141310,3.000000,3.000000,1.000000
10958205,11910,2022,3,33.829808,4.367816,3.878125,10.000000
17114772,8260,2022,4,35.971890,6.062136,10.000000,0.000000
...,...,...,...,...,...,...,...
1406214,15354,2022,4,21.917036,3.615385,2.562500,10.000000
340294,15354,2022,3,14.646056,2.403329,3.975610,2.000000
16457261,8262,2022,3,35.762929,3.944118,5.000000,0.000000
18432854,15354,2022,5,36.333589,7.766180,6.363636,0.000000
17654271,15354,2022,3,36.121001,19.832564,34.252874,0.000000

In [47]:
y_test

1470026      5
19134057     2
2405376      3
10958205     2
17114772    10
            ..
1406214      3
340294       3
16457261     5
18432854    10
17654271    60
Name: Quantity, Length: 2823467, dtype: int64

In [39]:
# XGB Model
matrix_train = xgb.DMatrix(X_train, label = y_train)
matrix_test = xgb.DMatrix(X_test, label = y_test)

In [40]:

# Run XGB 
model = xgb.train(params={'objective':'reg:linear','eval_metric':'mae'}
                ,dtrain = matrix_train, num_boost_round = 500, 
                early_stopping_rounds = 20, evals = [(matrix_test,'test')],)

[21:37:31] WARNING: C:/Users/administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
[0]	test-mae:6.78741
[1]	test-mae:5.38855
[2]	test-mae:4.60710
[3]	test-mae:4.18428
[4]	test-mae:3.93411
[5]	test-mae:3.77558
[6]	test-mae:3.69255
[7]	test-mae:3.63781
[8]	test-mae:3.60706
[9]	test-mae:3.57620
[10]	test-mae:3.55713
[11]	test-mae:3.54388
[12]	test-mae:3.53632
[13]	test-mae:3.52197
[14]	test-mae:3.52070
[15]	test-mae:3.51887
[16]	test-mae:3.51681
[17]	test-mae:3.51077
[18]	test-mae:3.50775
[19]	test-mae:3.50658
[20]	test-mae:3.49163
[21]	test-mae:3.48372
[22]	test-mae:3.47817
[23]	test-mae:3.46637
[24]	test-mae:3.45843
[25]	test-mae:3.44600
[26]	test-mae:3.44380
[27]	test-mae:3.43406
[28]	test-mae:3.42451
[29]	test-mae:3.41058
[30]	test-mae:3.40052
[31]	test-mae:3.39484
[32]	test-mae:3.38824
[33]	test-mae:3.38247
[34]	test-mae:3.37569
[35]	test-mae:3.37134
[36]	test-mae:3.37190
[37]	test-mae:3.36611
[38]	test-mae:3.36300
[39]	test-mae:3.35617
[40]	test-mae:3.35111
[41]	test-mae:3.34605
[42]	test-mae:3.33872
[43]	test-mae:3.33151
[44]	test-mae:3.32704
[45]	test-mae:3.32206
[46]	test-mae:3.31908
[47]	test-mae:3.31911
[48]	test-mae:3.31316
[49]	test-mae:3.31049
[50]	test-mae:3.30641
[51]	test-mae:3.30393
[52]	test-mae:3.30244
[53]	test-mae:3.29687
[54]	test-mae:3.29419
[55]	test-mae:3.29224
[56]	test-mae:3.28435
[57]	test-mae:3.28315
[58]	test-mae:3.28245
[59]	test-mae:3.27934
[60]	test-mae:3.27201
[61]	test-mae:3.27148
[62]	test-mae:3.26534
[63]	test-mae:3.26415
[64]	test-mae:3.25624
[65]	test-mae:3.24867
[66]	test-mae:3.24626
[67]	test-mae:3.24435
[68]	test-mae:3.24066
[69]	test-mae:3.23871
[70]	test-mae:3.23684
[71]	test-mae:3.23387
[72]	test-mae:3.22989
[73]	test-mae:3.22782
[74]	test-mae:3.22393
[75]	test-mae:3.22287
[76]	test-mae:3.22206
[77]	test-mae:3.21847
[78]	test-mae:3.21584
[79]	test-mae:3.21552
[80]	test-mae:3.20941
[81]	test-mae:3.20538
[82]	test-mae:3.20286
[83]	test-mae:3.19996
[84]	test-mae:3.19622
[85]	test-mae:3.19404
[86]	test-mae:3.19046
[87]	test-mae:3.18768
[88]	test-mae:3.18650
[89]	test-mae:3.18484
[90]	test-mae:3.18125
[91]	test-mae:3.17459
[92]	test-mae:3.16988
[93]	test-mae:3.16514
[94]	test-mae:3.16161
[95]	test-mae:3.15368
[96]	test-mae:3.14631
[97]	test-mae:3.14643
[98]	test-mae:3.14621
[99]	test-mae:3.14416
[100]	test-mae:3.14268
[101]	test-mae:3.14121
[102]	test-mae:3.13827
[103]	test-mae:3.13515
[104]	test-mae:3.13388
[105]	test-mae:3.13188
[106]	test-mae:3.12886
[107]	test-mae:3.12726
[108]	test-mae:3.12370
[109]	test-mae:3.12313
[110]	test-mae:3.11957
[111]	test-mae:3.11938
[112]	test-mae:3.11833
[113]	test-mae:3.11460
[114]	test-mae:3.11429
[115]	test-mae:3.11378
[116]	test-mae:3.10962
[117]	test-mae:3.10624
[118]	test-mae:3.10482
[119]	test-mae:3.10231
[120]	test-mae:3.10193
[121]	test-mae:3.10033
[122]	test-mae:3.09978
[123]	test-mae:3.09826
[124]	test-mae:3.09772
[125]	test-mae:3.09541
[126]	test-mae:3.09314
[127]	test-mae:3.09091
[128]	test-mae:3.08851
[129]	test-mae:3.08825
[130]	test-mae:3.08675
[131]	test-mae:3.08409
[132]	test-mae:3.08404
[133]	test-mae:3.07857
[134]	test-mae:3.07831
[135]	test-mae:3.07759
[136]	test-mae:3.07664
[137]	test-mae:3.07601
[138]	test-mae:3.07430
[139]	test-mae:3.07391
[140]	test-mae:3.07344
[141]	test-mae:3.07229
[142]	test-mae:3.06925
[143]	test-mae:3.06685
[144]	test-mae:3.06449
[145]	test-mae:3.06225
[146]	test-mae:3.05994
[147]	test-mae:3.05786
[148]	test-mae:3.05632
[149]	test-mae:3.05619
[150]	test-mae:3.05626
[151]	test-mae:3.05529
[152]	test-mae:3.05237
[153]	test-mae:3.05059
[154]	test-mae:3.04911
[155]	test-mae:3.04700
[156]	test-mae:3.04431
[157]	test-mae:3.04383
[158]	test-mae:3.04153
[159]	test-mae:3.03924
[160]	test-mae:3.03798
[161]	test-mae:3.03624
[162]	test-mae:3.03608
[163]	test-mae:3.03462
[164]	test-mae:3.03232
[165]	test-mae:3.03053
[166]	test-mae:3.02951
[167]	test-mae:3.02904
[168]	test-mae:3.02749
[169]	test-mae:3.02646
[170]	test-mae:3.02485
[171]	test-mae:3.02462
[172]	test-mae:3.02189
[173]	test-mae:3.02018
[174]	test-mae:3.01825
[175]	test-mae:3.01489
[176]	test-mae:3.01093
[177]	test-mae:3.00959
[178]	test-mae:3.00918
[179]	test-mae:3.00654
[180]	test-mae:3.00367
[181]	test-mae:3.00274
[182]	test-mae:3.00174
[183]	test-mae:3.00024
[184]	test-mae:2.99950
[185]	test-mae:2.99811
[186]	test-mae:2.99639
[187]	test-mae:2.99594
[188]	test-mae:2.99369
[189]	test-mae:2.99240
[190]	test-mae:2.99062
[191]	test-mae:2.98874
[192]	test-mae:2.98852
[193]	test-mae:2.98659
[194]	test-mae:2.98516
[195]	test-mae:2.98445
[196]	test-mae:2.98291
[197]	test-mae:2.98112
[198]	test-mae:2.97994
[199]	test-mae:2.97772
[200]	test-mae:2.97652
[201]	test-mae:2.97485
[202]	test-mae:2.97281
[203]	test-mae:2.97262
[204]	test-mae:2.97226
[205]	test-mae:2.97202
[206]	test-mae:2.97165
[207]	test-mae:2.96953
[208]	test-mae:2.96853
[209]	test-mae:2.96719
[210]	test-mae:2.96608
[211]	test-mae:2.96535
[212]	test-mae:2.96354
[213]	test-mae:2.96101
[214]	test-mae:2.95979
[215]	test-mae:2.95914
[216]	test-mae:2.95895
[217]	test-mae:2.95821
[218]	test-mae:2.95638
[219]	test-mae:2.95430
[220]	test-mae:2.95336
[221]	test-mae:2.95145
[222]	test-mae:2.95082
[223]	test-mae:2.95059
[224]	test-mae:2.94837
[225]	test-mae:2.94680
[226]	test-mae:2.94584
[227]	test-mae:2.94484
[228]	test-mae:2.94303
[229]	test-mae:2.94243
[230]	test-mae:2.94124
[231]	test-mae:2.94065
[232]	test-mae:2.94054
[233]	test-mae:2.93660
[234]	test-mae:2.93543
[235]	test-mae:2.93283
[236]	test-mae:2.93121
[237]	test-mae:2.93062
[238]	test-mae:2.92943
[239]	test-mae:2.92857
[240]	test-mae:2.92689
[241]	test-mae:2.92575
[242]	test-mae:2.92454
[243]	test-mae:2.92446
[244]	test-mae:2.92370
[245]	test-mae:2.92366
[246]	test-mae:2.92273
[247]	test-mae:2.92174
[248]	test-mae:2.92058
[249]	test-mae:2.91931
[250]	test-mae:2.91894
[251]	test-mae:2.91795
[252]	test-mae:2.91777
[253]	test-mae:2.91713
[254]	test-mae:2.91656
[255]	test-mae:2.91477
[256]	test-mae:2.91425
[257]	test-mae:2.91316
[258]	test-mae:2.91301
[259]	test-mae:2.91200
[260]	test-mae:2.91133
[261]	test-mae:2.91062
[262]	test-mae:2.91043
[263]	test-mae:2.90889
[264]	test-mae:2.90728
[265]	test-mae:2.90606
[266]	test-mae:2.90575
[267]	test-mae:2.90470
[268]	test-mae:2.90431
[269]	test-mae:2.90319
[270]	test-mae:2.90294
[271]	test-mae:2.90280
[272]	test-mae:2.90234
[273]	test-mae:2.90182
[274]	test-mae:2.90103
[275]	test-mae:2.89995
[276]	test-mae:2.89925
[277]	test-mae:2.89779
[278]	test-mae:2.89648
[279]	test-mae:2.89530
[280]	test-mae:2.89400
[281]	test-mae:2.89365
[282]	test-mae:2.89329
[283]	test-mae:2.89258
[284]	test-mae:2.89165
[285]	test-mae:2.89057
[286]	test-mae:2.89028
[287]	test-mae:2.88932
[288]	test-mae:2.88871
[289]	test-mae:2.88809
[290]	test-mae:2.88725
[291]	test-mae:2.88658
[292]	test-mae:2.88611
[293]	test-mae:2.88559
[294]	test-mae:2.88376
[295]	test-mae:2.88342
[296]	test-mae:2.88247
[297]	test-mae:2.88235
[298]	test-mae:2.88219
[299]	test-mae:2.88153
[300]	test-mae:2.88004
[301]	test-mae:2.87867
[302]	test-mae:2.87759
[303]	test-mae:2.87684
[304]	test-mae:2.87609
[305]	test-mae:2.87517
[306]	test-mae:2.87428
[307]	test-mae:2.87345
[308]	test-mae:2.87304
[309]	test-mae:2.87109
[310]	test-mae:2.86975
[311]	test-mae:2.86829
[312]	test-mae:2.86825
[313]	test-mae:2.86677
[314]	test-mae:2.86560
[315]	test-mae:2.86542
[316]	test-mae:2.86503
[317]	test-mae:2.86476
[318]	test-mae:2.86449
[319]	test-mae:2.86444
[320]	test-mae:2.86388
[321]	test-mae:2.86239
[322]	test-mae:2.86168
[323]	test-mae:2.86052
[324]	test-mae:2.86031
[325]	test-mae:2.85943
[326]	test-mae:2.85907
[327]	test-mae:2.85890
[328]	test-mae:2.85869
[329]	test-mae:2.85836
[330]	test-mae:2.85703
[331]	test-mae:2.85693
[332]	test-mae:2.85578
[333]	test-mae:2.85580
[334]	test-mae:2.85535
[335]	test-mae:2.85432
[336]	test-mae:2.85379
[337]	test-mae:2.85325
[338]	test-mae:2.85288
[339]	test-mae:2.85199
[340]	test-mae:2.85155
[341]	test-mae:2.85087
[342]	test-mae:2.85061
[343]	test-mae:2.85029
[344]	test-mae:2.85037
[345]	test-mae:2.84985
[346]	test-mae:2.84913
[347]	test-mae:2.84774
[348]	test-mae:2.84659
[349]	test-mae:2.84624
[350]	test-mae:2.84575
[351]	test-mae:2.84538
[352]	test-mae:2.84479
[353]	test-mae:2.84419
[354]	test-mae:2.84353
[355]	test-mae:2.84261
[356]	test-mae:2.84150
[357]	test-mae:2.83989
[358]	test-mae:2.83913
[359]	test-mae:2.83827
[360]	test-mae:2.83764
[361]	test-mae:2.83724
[362]	test-mae:2.83669
[363]	test-mae:2.83604
[364]	test-mae:2.83543
[365]	test-mae:2.83485
[366]	test-mae:2.83421
[367]	test-mae:2.83323
[368]	test-mae:2.83272
[369]	test-mae:2.83208
[370]	test-mae:2.83193
[371]	test-mae:2.83147
[372]	test-mae:2.83041
[373]	test-mae:2.82999
[374]	test-mae:2.82907
[375]	test-mae:2.82790
[376]	test-mae:2.82670
[377]	test-mae:2.82625
[378]	test-mae:2.82617
[379]	test-mae:2.82525
[380]	test-mae:2.82506
[381]	test-mae:2.82434
[382]	test-mae:2.82359
[383]	test-mae:2.82330
[384]	test-mae:2.82261
[385]	test-mae:2.82180
[386]	test-mae:2.82073
[387]	test-mae:2.82067
[388]	test-mae:2.82020
[389]	test-mae:2.81932
[390]	test-mae:2.81906
[391]	test-mae:2.81843
[392]	test-mae:2.81728
[393]	test-mae:2.81681
[394]	test-mae:2.81697
[395]	test-mae:2.81678
[396]	test-mae:2.81627
[397]	test-mae:2.81558
[398]	test-mae:2.81497
[399]	test-mae:2.81429
[400]	test-mae:2.81392
[401]	test-mae:2.81381
[402]	test-mae:2.81366
[403]	test-mae:2.81331
[404]	test-mae:2.81265
[405]	test-mae:2.81193
[406]	test-mae:2.81044
[407]	test-mae:2.80969
[408]	test-mae:2.80884
[409]	test-mae:2.80837
[410]	test-mae:2.80473
[411]	test-mae:2.80374
[412]	test-mae:2.80303
[413]	test-mae:2.80258
[414]	test-mae:2.80244
[415]	test-mae:2.80189
[416]	test-mae:2.80137
[417]	test-mae:2.80081
[418]	test-mae:2.80004
[419]	test-mae:2.80008
[420]	test-mae:2.79897
[421]	test-mae:2.79833
[422]	test-mae:2.79752
[423]	test-mae:2.79662
[424]	test-mae:2.79351
[425]	test-mae:2.79318
[426]	test-mae:2.79331
[427]	test-mae:2.79279
[428]	test-mae:2.79260
[429]	test-mae:2.79166
[430]	test-mae:2.79126
[431]	test-mae:2.79066
[432]	test-mae:2.79044
[433]	test-mae:2.79053
[434]	test-mae:2.79052
[435]	test-mae:2.79053
[436]	test-mae:2.79012
[437]	test-mae:2.78983
[438]	test-mae:2.78952
[439]	test-mae:2.78838
[440]	test-mae:2.78813
[441]	test-mae:2.78784
[442]	test-mae:2.78772
[443]	test-mae:2.78696
[444]	test-mae:2.78664
[445]	test-mae:2.78571
[446]	test-mae:2.78505
[447]	test-mae:2.78504
[448]	test-mae:2.78488
[449]	test-mae:2.78423
[450]	test-mae:2.78365
[451]	test-mae:2.78320
[452]	test-mae:2.78279
[453]	test-mae:2.78246
[454]	test-mae:2.78228
[455]	test-mae:2.78172
[456]	test-mae:2.78157
[457]	test-mae:2.78108
[458]	test-mae:2.78081
[459]	test-mae:2.78041
[460]	test-mae:2.77987
[461]	test-mae:2.77931
[462]	test-mae:2.77889
[463]	test-mae:2.77852
[464]	test-mae:2.77819
[465]	test-mae:2.77809
[466]	test-mae:2.77776
[467]	test-mae:2.77714
[468]	test-mae:2.77652
[469]	test-mae:2.77640
[470]	test-mae:2.77635
[471]	test-mae:2.77623
[472]	test-mae:2.77474
[473]	test-mae:2.77394
[474]	test-mae:2.77160
[475]	test-mae:2.77080
[476]	test-mae:2.77070
[477]	test-mae:2.77027
[478]	test-mae:2.77001
[479]	test-mae:2.76976
[480]	test-mae:2.76974
[481]	test-mae:2.76941
[482]	test-mae:2.76888
[483]	test-mae:2.76816
[484]	test-mae:2.76772
[485]	test-mae:2.76693
[486]	test-mae:2.76567
[487]	test-mae:2.76408
[488]	test-mae:2.76342
[489]	test-mae:2.76329
[490]	test-mae:2.76283
[491]	test-mae:2.76271
[492]	test-mae:2.76233
[493]	test-mae:2.76137
[494]	test-mae:2.76119
[495]	test-mae:2.76090
[496]	test-mae:2.76041
[497]	test-mae:2.75944
[498]	test-mae:2.75870
[499]	test-mae:2.75830

In [44]:
model.predict(matrix_test)

array([ 4.45919  ,  2.5277567,  3.1219506, ...,  4.8153048,  7.0646076,
       35.452053 ], dtype=float32)

In [87]:
model.predict()

TypeError: Booster.predict() missing 1 required positional argument: 'data'