In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import xgboost as xgb
import datetime

In [2]:
filename = '../inputs/Maltas.csv'
df = pd.read_csv(filename)
df =df[df['Quantity'] > 0]

#Test train for next day
new_matrix_test = df.drop_duplicates(['Account_id',	'Product_id', 'Category'])
new_matrix_test['Date'] = (pd.to_datetime(df.Date.max()) + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

C:\Users\willy\AppData\Local\Temp\ipykernel_9480\3843012267.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_matrix_test['Date'] = (pd.to_datetime(df.Date.max()) + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

In [3]:
train, test = train_test_split(df, test_size=0.30)
train = train.sort_values('Date')
test = test.sort_values('Date')

In [4]:
train.shape

(14117331, 5)

In [5]:
test.shape

(6050285, 5)

In [6]:
def date_features(df: pd.DataFrame) -> pd.DataFrame:
    """Import the DataFrame to be able to extract the data characteristics and transform

    Arguments:
        df: data frame

    Return:
        Return a DataFrame with its date characteristics
    """

    df['date'] = pd.to_datetime(df['Date'])
    df['year'] = df.date.dt.year
    df['month'] = df.date.dt.month
    df['day'] = df.date.dt.day
    df['dayofyear'] = df.date.dt.dayofyear
    df['dayofweek'] = df.date.dt.dayofweek
    df['weekofyear'] = df.date.dt.isocalendar().week
    
    # Additionnal Data Features
    df['day^year'] = np.log((np.log(df['dayofyear'] + 1)) ** (df['year'] - 2000))
    
    # Drop date
    df.drop('Date', axis=1, inplace=True)
    
    return df

# Dates Features for Train, Test
train = date_features(train)
test = date_features(test)

In [7]:
train.head()

,Account_id,Product_id,Category,Quantity,date,year,month,day,dayofyear,dayofweek,weekofyear,day^year
10560,33231588,15354,Maltas,3,2022-01-03,2022,1,3,3,0,1,7.185954
9434,33228849,8260,Maltas,3,2022-01-03,2022,1,3,3,0,1,7.185954
28033,33226443,8260,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954
8926,33231651,11910,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954
5640,33251433,11910,Maltas,4,2022-01-03,2022,1,3,3,0,1,7.185954

In [8]:
test.head()

,Account_id,Product_id,Category,Quantity,date,year,month,day,dayofyear,dayofweek,weekofyear,day^year
19523,36469677,11910,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954
21139,33228750,8260,Maltas,5,2022-01-03,2022,1,3,3,0,1,7.185954
28945,33746682,8262,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954
15359,33221244,8262,Maltas,1,2022-01-03,2022,1,3,3,0,1,7.185954
15629,33224598,15354,Maltas,10,2022-01-03,2022,1,3,3,0,1,7.185954

In [9]:
# Daily Average, Monthly Average for train
train['daymonth_avg']  = train.groupby(['Product_id','Account_id', 'dayofweek'])['Quantity'].transform('mean')
train['monthly_avg'] = train.groupby(['Product_id','Account_id','month'])['Quantity'].transform('mean')
train = train.dropna()

# Average sales for Day_of_week = d per 'Category', 'Account_id'
daymonth_avg = train.groupby(['Product_id','Account_id','dayofweek'])['Quantity'].mean().reset_index()

# Average sales for Month = m per 'Category','Account_id' 
monthly_avg = train.groupby(['Product_id','Account_id','month'])['Quantity'].mean().reset_index()



# Merge Test with Daily Avg, Monthly Avg
def merge(df1: pd.DataFrame, df2: pd.DataFrame, col: list, col_name: str) -> pd.DataFrame:
    """This is function to do merge whit DataFrames and strings what representation a new DataFrame

    Args: 
        df1: pd.DataFrame is a df of test
        df2: pd.DataFrame is a df of average sales for day of week or month
        col: list with features of test
        col_name: str with name of column per feature of week or month 
    Return: 
          The return value is a pd.DataFrame with features news
    """
    
    df1 =pd.merge(df1, 
                  df2, 
                  how='left', 
                  on=None, 
                  left_on=col, 
                  right_on=col,
                  left_index=False, 
                  right_index=False, 
                  sort=True,
                  copy=True, 
                  indicator=False)
    
    df1 = df1.rename(columns={'sales':col_name})
    return df1

In [10]:
# Add Daily_avg and Monthly_avg features to test 
test = merge(test, daymonth_avg, ['Product_id','Account_id','dayofweek'],'daymonth_avg')
test = merge(test, monthly_avg, ['Product_id','Account_id','month'],'monthly_avg')

In [11]:
# Sales Rolling mean sequence per item 

rolling_10 = train.groupby(['Product_id'])['Quantity'].rolling(3).mean().reset_index().drop('level_1', axis=1)
train['rolling_mean'] = rolling_10['Quantity']

In [12]:

rolling_10.head()

   Product_id  Quantity
0        8260       NaN
1        8260       NaN
2        8260  1.666667
3        8260  5.666667
4        8260  5.666667

In [13]:
# 90 last days of training rolling mean sequence added to test data
rolling_last90 = train.groupby(['Product_id','Quantity'])['rolling_mean'].tail(90).copy()
test['rolling_mean'] = rolling_last90.reset_index().drop('index', axis=1)

In [14]:
rolling_last90.head()

1352     13.666667
27128     1.666667
10757     1.000000
2258      8.000000
20703     4.000000
Name: rolling_mean, dtype: float64

In [15]:

# Shifting rolling mean 3 months
train['rolling_mean'] = train.groupby(['Product_id'])['rolling_mean'].shift(90) # Create a feature with rolling mean of day - 90

In [16]:
test.head()

,Account_id,Product_id,Category,Quantity_x,date,year,month,day,dayofyear,dayofweek,weekofyear,day^year,Quantity_y,Quantity,rolling_mean
0,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,13.666667
1,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,1.666667
2,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,1.000000
3,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,8.000000
4,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,4.000000

In [17]:
test = test.fillna(0)
test.head()

,Account_id,Product_id,Category,Quantity_x,date,year,month,day,dayofyear,dayofweek,weekofyear,day^year,Quantity_y,Quantity,rolling_mean
0,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,13.666667
1,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,1.666667
2,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,1.000000
3,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,8.000000
4,33217773,8260,Maltas,20,2022-01-04,2022,1,4,4,1,1,10.46947,20.778626,18.375635,4.000000

In [18]:
# Clean features highly correlated to each others
for df in [train, test]:
    df.drop(['dayofyear', 
             'weekofyear',
             'day',
             'month',
             'Category',
             'Account_id'],
                axis=1, 
                inplace=True)

In [19]:
# Features Scaling (except sales)
sales_series, id_series = train['Quantity'], test['Product_id']

In [20]:
# Retrieve actual Sales values and ID
train['Quantity'] = sales_series
test['Product_id'] = id_series

In [21]:
# Training Data
X_train = train.drop('Quantity', axis=1).dropna()
y_train = train['Quantity']

In [22]:
# Test Data
test.sort_values(by=['Product_id'], inplace=True)
X_test = test.drop('Product_id', axis=1)

In [23]:
#df = train
df_train = train.copy()

In [24]:
df_train = df_train.drop(columns='date').fillna(0)

In [25]:
# Train Test Split
X_train , X_test ,y_train, y_test = train_test_split(df_train.drop('Quantity',axis=1),df_train.pop('Quantity'), random_state=123, test_size=0.2)

In [26]:
X_test

,Product_id,year,dayofweek,day^year,daymonth_avg,monthly_avg,rolling_mean
1427316,15354,2022,4,21.917036,1.000000,1.000000,3.000000
19164099,8262,2022,2,36.577186,2.848485,1.000000,0.000000
2425485,11910,2022,5,25.141310,1.000000,1.000000,4.000000
10965619,15354,2022,3,33.829808,19.187817,11.996212,8.333333
17130428,15354,2022,4,35.971890,2.476658,3.464789,0.000000
...,...,...,...,...,...,...,...
1318639,8262,2022,4,21.917036,1.000000,1.000000,5.333333
452240,11910,2022,3,14.646056,1.147982,1.000000,1.666667
16532753,8262,2022,3,35.762929,1.000000,1.000000,0.000000
18441568,15354,2022,5,36.333589,1.500000,1.780952,0.000000
17660823,15354,2022,3,36.121001,5.911854,6.216216,0.000000

In [27]:
y_test

1427316      1
19164099     1
2425485      1
10965619    20
17130428     3
            ..
1318639      1
452240       1
16532753     1
18441568     1
17660823     7
Name: Quantity, Length: 2823467, dtype: int64

In [28]:
# XGB Model
matrix_train = xgb.DMatrix(X_train, label = y_train)
matrix_test = xgb.DMatrix(X_test, label = y_test)

In [29]:

# Run XGB 
model = xgb.train(params={'objective':'reg:linear','eval_metric':'mae'}
                ,dtrain = matrix_train, num_boost_round = 500, 
                early_stopping_rounds = 20, evals = [(matrix_test,'test')],)

[22:42:15] WARNING: C:/Users/administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
[0]	test-mae:6.73420
[1]	test-mae:5.33942
[2]	test-mae:4.56411
[3]	test-mae:4.15424
[4]	test-mae:3.89985
[5]	test-mae:3.76161
[6]	test-mae:3.68884
[7]	test-mae:3.62409
[8]	test-mae:3.58514
[9]	test-mae:3.56709
[10]	test-mae:3.54640
[11]	test-mae:3.52378
[12]	test-mae:3.52199
[13]	test-mae:3.51631
[14]	test-mae:3.51376
[15]	test-mae:3.51146
[16]	test-mae:3.51025
[17]	test-mae:3.51295
[18]	test-mae:3.48988
[19]	test-mae:3.48742
[20]	test-mae:3.48100
[21]	test-mae:3.48176
[22]	test-mae:3.46217
[23]	test-mae:3.46127
[24]	test-mae:3.45398
[25]	test-mae:3.44356
[26]	test-mae:3.44382
[27]	test-mae:3.44151
[28]	test-mae:3.43693
[29]	test-mae:3.42838
[30]	test-mae:3.42287
[31]	test-mae:3.42203
[32]	test-mae:3.41477
[33]	test-mae:3.40672
[34]	test-mae:3.39516
[35]	test-mae:3.39054
[36]	test-mae:3.38663
[37]	test-mae:3.37546
[38]	test-mae:3.37086
[39]	test-mae:3.35639
[40]	test-mae:3.35060
[41]	test-mae:3.35240
[42]	test-mae:3.34491
[43]	test-mae:3.34308
[44]	test-mae:3.34221
[45]	test-mae:3.33532
[46]	test-mae:3.33342
[47]	test-mae:3.32902
[48]	test-mae:3.32076
[49]	test-mae:3.31599
[50]	test-mae:3.31203
[51]	test-mae:3.30424
[52]	test-mae:3.29529
[53]	test-mae:3.28948
[54]	test-mae:3.28831
[55]	test-mae:3.28265
[56]	test-mae:3.28172
[57]	test-mae:3.27918
[58]	test-mae:3.27590
[59]	test-mae:3.27427
[60]	test-mae:3.26836
[61]	test-mae:3.26362
[62]	test-mae:3.26015
[63]	test-mae:3.25937
[64]	test-mae:3.25341
[65]	test-mae:3.24908
[66]	test-mae:3.24648
[67]	test-mae:3.24336
[68]	test-mae:3.23898
[69]	test-mae:3.23617
[70]	test-mae:3.23054
[71]	test-mae:3.22921
[72]	test-mae:3.22385
[73]	test-mae:3.22170
[74]	test-mae:3.21546
[75]	test-mae:3.21179
[76]	test-mae:3.20495
[77]	test-mae:3.20263
[78]	test-mae:3.19972
[79]	test-mae:3.19742
[80]	test-mae:3.19659
[81]	test-mae:3.19501
[82]	test-mae:3.19200
[83]	test-mae:3.19073
[84]	test-mae:3.18719
[85]	test-mae:3.18588
[86]	test-mae:3.18460
[87]	test-mae:3.18262
[88]	test-mae:3.18132
[89]	test-mae:3.18145
[90]	test-mae:3.18079
[91]	test-mae:3.17589
[92]	test-mae:3.17463
[93]	test-mae:3.17323
[94]	test-mae:3.16681
[95]	test-mae:3.16278
[96]	test-mae:3.16216
[97]	test-mae:3.16082
[98]	test-mae:3.16041
[99]	test-mae:3.15982
[100]	test-mae:3.15880
[101]	test-mae:3.15523
[102]	test-mae:3.15076
[103]	test-mae:3.14987
[104]	test-mae:3.14960
[105]	test-mae:3.14526
[106]	test-mae:3.13957
[107]	test-mae:3.13650
[108]	test-mae:3.13401
[109]	test-mae:3.13128
[110]	test-mae:3.12743
[111]	test-mae:3.12564
[112]	test-mae:3.12328
[113]	test-mae:3.11885
[114]	test-mae:3.11772
[115]	test-mae:3.11524
[116]	test-mae:3.11225
[117]	test-mae:3.11093
[118]	test-mae:3.10752
[119]	test-mae:3.10445
[120]	test-mae:3.10246
[121]	test-mae:3.10172
[122]	test-mae:3.09851
[123]	test-mae:3.08989
[124]	test-mae:3.08916
[125]	test-mae:3.08939
[126]	test-mae:3.08385
[127]	test-mae:3.08118
[128]	test-mae:3.08032
[129]	test-mae:3.07808
[130]	test-mae:3.07351
[131]	test-mae:3.06954
[132]	test-mae:3.06618
[133]	test-mae:3.06370
[134]	test-mae:3.06283
[135]	test-mae:3.06143
[136]	test-mae:3.06051
[137]	test-mae:3.05932
[138]	test-mae:3.05701
[139]	test-mae:3.05419
[140]	test-mae:3.05367
[141]	test-mae:3.05121
[142]	test-mae:3.05001
[143]	test-mae:3.04781
[144]	test-mae:3.04622
[145]	test-mae:3.04455
[146]	test-mae:3.04145
[147]	test-mae:3.04111
[148]	test-mae:3.03948
[149]	test-mae:3.03729
[150]	test-mae:3.03502
[151]	test-mae:3.03171
[152]	test-mae:3.03020
[153]	test-mae:3.02925
[154]	test-mae:3.02777
[155]	test-mae:3.02628
[156]	test-mae:3.02540
[157]	test-mae:3.02395
[158]	test-mae:3.02256
[159]	test-mae:3.02243
[160]	test-mae:3.02116
[161]	test-mae:3.01996
[162]	test-mae:3.01814
[163]	test-mae:3.01474
[164]	test-mae:3.01366
[165]	test-mae:3.01224
[166]	test-mae:3.01159
[167]	test-mae:3.00984
[168]	test-mae:3.00722
[169]	test-mae:3.00639
[170]	test-mae:3.00480
[171]	test-mae:3.00305
[172]	test-mae:3.00170
[173]	test-mae:2.99996
[174]	test-mae:2.99888
[175]	test-mae:2.99640
[176]	test-mae:2.99455
[177]	test-mae:2.99366
[178]	test-mae:2.99341
[179]	test-mae:2.99247
[180]	test-mae:2.99217
[181]	test-mae:2.99087
[182]	test-mae:2.99024
[183]	test-mae:2.98964
[184]	test-mae:2.98829
[185]	test-mae:2.98758
[186]	test-mae:2.98607
[187]	test-mae:2.98438
[188]	test-mae:2.98148
[189]	test-mae:2.98082
[190]	test-mae:2.97937
[191]	test-mae:2.97887
[192]	test-mae:2.97754
[193]	test-mae:2.97700
[194]	test-mae:2.97555
[195]	test-mae:2.97524
[196]	test-mae:2.97461
[197]	test-mae:2.97462
[198]	test-mae:2.97328
[199]	test-mae:2.97098
[200]	test-mae:2.96940
[201]	test-mae:2.96667
[202]	test-mae:2.96617
[203]	test-mae:2.96552
[204]	test-mae:2.96402
[205]	test-mae:2.96183
[206]	test-mae:2.95994
[207]	test-mae:2.95881
[208]	test-mae:2.95746
[209]	test-mae:2.95487
[210]	test-mae:2.95346
[211]	test-mae:2.95310
[212]	test-mae:2.95297
[213]	test-mae:2.95129
[214]	test-mae:2.94996
[215]	test-mae:2.94977
[216]	test-mae:2.94768
[217]	test-mae:2.94673
[218]	test-mae:2.94530
[219]	test-mae:2.94318
[220]	test-mae:2.94147
[221]	test-mae:2.94025
[222]	test-mae:2.93968
[223]	test-mae:2.93960
[224]	test-mae:2.93956
[225]	test-mae:2.93891
[226]	test-mae:2.93722
[227]	test-mae:2.93714
[228]	test-mae:2.93516
[229]	test-mae:2.93269
[230]	test-mae:2.93127
[231]	test-mae:2.93142
[232]	test-mae:2.93098
[233]	test-mae:2.92955
[234]	test-mae:2.92880
[235]	test-mae:2.92619
[236]	test-mae:2.92516
[237]	test-mae:2.92376
[238]	test-mae:2.92295
[239]	test-mae:2.92084
[240]	test-mae:2.92047
[241]	test-mae:2.91903
[242]	test-mae:2.91887
[243]	test-mae:2.91736
[244]	test-mae:2.91640
[245]	test-mae:2.91599
[246]	test-mae:2.91440
[247]	test-mae:2.91358
[248]	test-mae:2.91307
[249]	test-mae:2.91210
[250]	test-mae:2.91171
[251]	test-mae:2.91128
[252]	test-mae:2.90926
[253]	test-mae:2.90842
[254]	test-mae:2.90642
[255]	test-mae:2.90490
[256]	test-mae:2.90412
[257]	test-mae:2.90276
[258]	test-mae:2.90106
[259]	test-mae:2.90016
[260]	test-mae:2.89873
[261]	test-mae:2.89706
[262]	test-mae:2.89522
[263]	test-mae:2.89500
[264]	test-mae:2.89397
[265]	test-mae:2.89261
[266]	test-mae:2.89247
[267]	test-mae:2.89232
[268]	test-mae:2.89111
[269]	test-mae:2.89026
[270]	test-mae:2.88891
[271]	test-mae:2.88870
[272]	test-mae:2.88765
[273]	test-mae:2.88672
[274]	test-mae:2.88612
[275]	test-mae:2.88541
[276]	test-mae:2.88521
[277]	test-mae:2.88361
[278]	test-mae:2.88326
[279]	test-mae:2.88326
[280]	test-mae:2.88205
[281]	test-mae:2.88024
[282]	test-mae:2.87903
[283]	test-mae:2.87854
[284]	test-mae:2.87831
[285]	test-mae:2.87787
[286]	test-mae:2.87686
[287]	test-mae:2.87605
[288]	test-mae:2.87541
[289]	test-mae:2.87514
[290]	test-mae:2.87511
[291]	test-mae:2.87384
[292]	test-mae:2.87272
[293]	test-mae:2.87160
[294]	test-mae:2.87029
[295]	test-mae:2.86939
[296]	test-mae:2.86920
[297]	test-mae:2.86872
[298]	test-mae:2.86869
[299]	test-mae:2.86841
[300]	test-mae:2.86825
[301]	test-mae:2.86734
[302]	test-mae:2.86577
[303]	test-mae:2.86529
[304]	test-mae:2.86492
[305]	test-mae:2.86363
[306]	test-mae:2.86322
[307]	test-mae:2.86159
[308]	test-mae:2.86015
[309]	test-mae:2.85942
[310]	test-mae:2.85859
[311]	test-mae:2.85796
[312]	test-mae:2.85711
[313]	test-mae:2.85709
[314]	test-mae:2.85689
[315]	test-mae:2.85638
[316]	test-mae:2.85547
[317]	test-mae:2.85404
[318]	test-mae:2.85284
[319]	test-mae:2.85195
[320]	test-mae:2.85096
[321]	test-mae:2.84987
[322]	test-mae:2.84931
[323]	test-mae:2.84798
[324]	test-mae:2.84615
[325]	test-mae:2.84518
[326]	test-mae:2.84429
[327]	test-mae:2.84278
[328]	test-mae:2.84219
[329]	test-mae:2.84121
[330]	test-mae:2.84018
[331]	test-mae:2.83957
[332]	test-mae:2.83941
[333]	test-mae:2.83844
[334]	test-mae:2.83814
[335]	test-mae:2.83739
[336]	test-mae:2.83620
[337]	test-mae:2.83517
[338]	test-mae:2.83461
[339]	test-mae:2.83420
[340]	test-mae:2.83211
[341]	test-mae:2.83097
[342]	test-mae:2.82998
[343]	test-mae:2.82973
[344]	test-mae:2.82888
[345]	test-mae:2.82790
[346]	test-mae:2.82773
[347]	test-mae:2.82677
[348]	test-mae:2.82641
[349]	test-mae:2.82573
[350]	test-mae:2.82573
[351]	test-mae:2.82529
[352]	test-mae:2.82416
[353]	test-mae:2.82315
[354]	test-mae:2.82242
[355]	test-mae:2.82184
[356]	test-mae:2.82153
[357]	test-mae:2.82099
[358]	test-mae:2.82025
[359]	test-mae:2.81954
[360]	test-mae:2.81815
[361]	test-mae:2.81755
[362]	test-mae:2.81749
[363]	test-mae:2.81680
[364]	test-mae:2.81696
[365]	test-mae:2.81598
[366]	test-mae:2.81545
[367]	test-mae:2.81547
[368]	test-mae:2.81473
[369]	test-mae:2.81407
[370]	test-mae:2.81341
[371]	test-mae:2.81270
[372]	test-mae:2.81217
[373]	test-mae:2.81159
[374]	test-mae:2.81115
[375]	test-mae:2.81071
[376]	test-mae:2.80970
[377]	test-mae:2.80879
[378]	test-mae:2.80774
[379]	test-mae:2.80774
[380]	test-mae:2.80696
[381]	test-mae:2.80629
[382]	test-mae:2.80581
[383]	test-mae:2.80530
[384]	test-mae:2.80510
[385]	test-mae:2.80439
[386]	test-mae:2.80413
[387]	test-mae:2.80285
[388]	test-mae:2.80179
[389]	test-mae:2.80079
[390]	test-mae:2.79896
[391]	test-mae:2.79909
[392]	test-mae:2.79908
[393]	test-mae:2.79842
[394]	test-mae:2.79778
[395]	test-mae:2.79717
[396]	test-mae:2.79624
[397]	test-mae:2.79624
[398]	test-mae:2.79488
[399]	test-mae:2.79463
[400]	test-mae:2.79448
[401]	test-mae:2.79346
[402]	test-mae:2.79324
[403]	test-mae:2.79268
[404]	test-mae:2.79202
[405]	test-mae:2.79158
[406]	test-mae:2.79108
[407]	test-mae:2.79069
[408]	test-mae:2.79006
[409]	test-mae:2.78928
[410]	test-mae:2.78840
[411]	test-mae:2.78780
[412]	test-mae:2.78665
[413]	test-mae:2.78635
[414]	test-mae:2.78619
[415]	test-mae:2.78612
[416]	test-mae:2.78611
[417]	test-mae:2.78477
[418]	test-mae:2.78343
[419]	test-mae:2.78325
[420]	test-mae:2.78324
[421]	test-mae:2.78296
[422]	test-mae:2.78285
[423]	test-mae:2.78265
[424]	test-mae:2.78190
[425]	test-mae:2.78092
[426]	test-mae:2.78017
[427]	test-mae:2.77965
[428]	test-mae:2.77924
[429]	test-mae:2.77789
[430]	test-mae:2.77720
[431]	test-mae:2.77713
[432]	test-mae:2.77626
[433]	test-mae:2.77595
[434]	test-mae:2.77545
[435]	test-mae:2.77531
[436]	test-mae:2.77522
[437]	test-mae:2.77474
[438]	test-mae:2.77466
[439]	test-mae:2.77368
[440]	test-mae:2.77203
[441]	test-mae:2.77101
[442]	test-mae:2.77038
[443]	test-mae:2.76963
[444]	test-mae:2.76873
[445]	test-mae:2.76861
[446]	test-mae:2.76829
[447]	test-mae:2.76821
[448]	test-mae:2.76722
[449]	test-mae:2.76598
[450]	test-mae:2.76527
[451]	test-mae:2.76465
[452]	test-mae:2.76441
[453]	test-mae:2.76415
[454]	test-mae:2.76415
[455]	test-mae:2.76387
[456]	test-mae:2.76346
[457]	test-mae:2.76294
[458]	test-mae:2.76056
[459]	test-mae:2.75951
[460]	test-mae:2.75942
[461]	test-mae:2.75927
[462]	test-mae:2.75882
[463]	test-mae:2.75790
[464]	test-mae:2.75791
[465]	test-mae:2.75743
[466]	test-mae:2.75762
[467]	test-mae:2.75745
[468]	test-mae:2.75703
[469]	test-mae:2.75616
[470]	test-mae:2.75540
[471]	test-mae:2.75438
[472]	test-mae:2.75365
[473]	test-mae:2.75292
[474]	test-mae:2.75209
[475]	test-mae:2.75173
[476]	test-mae:2.75164
[477]	test-mae:2.75143
[478]	test-mae:2.75114
[479]	test-mae:2.75113
[480]	test-mae:2.75078
[481]	test-mae:2.74991
[482]	test-mae:2.74974
[483]	test-mae:2.74943
[484]	test-mae:2.74889
[485]	test-mae:2.74796
[486]	test-mae:2.74735
[487]	test-mae:2.74678
[488]	test-mae:2.74624
[489]	test-mae:2.74554
[490]	test-mae:2.74547
[491]	test-mae:2.74468
[492]	test-mae:2.74475
[493]	test-mae:2.74356
[494]	test-mae:2.74261
[495]	test-mae:2.74251
[496]	test-mae:2.74191
[497]	test-mae:2.74113
[498]	test-mae:2.74069
[499]	test-mae:2.74058

In [30]:
model.predict(matrix_test)

array([1.1344357 , 0.9684726 , 0.98501974, ..., 0.93712646, 1.8562307 ,
       6.1198993 ], dtype=float32)